# don't track old emacs files
*~
# don't track irrelevant built-in themes
themes/twentyten
themes/twentytwelve
themes/twentythirteen
# don't track irrelevant built-in plugins
plugins/hello.php
# if user creates this, don't track it
uploads
latex