@import url("../twentyeleven/editor-style.css");

// cancel out some weird stuff
h1,
h2 {
	color: inherit;
	margin: inherit;
}
h3 {
	letter-spacing: inherit;
	line-height: inherit;
	text-transform: none;
}
h4, h5, h6 {
	margin: inherit;
}

h1, h2, h3, h4, h5, h6 {font-weight: bold}
h1 {font-size: 150%}
h2 {font-size: 125%}
h3, h4, h5, h6 {font-size: 100%}

// make pre easier to read
#tinymce pre
{
    background-color: #eee !important;
    font-family: Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', Consolas, monospace;
    color: #001B4C;
    border: 1px solid orange;
    font-size: 14px;
    margin: 1em 0em;
}

// not ridiculously spacious
#tinymce p, #tinymce pre {    
    margin: 1em 0em;
}

