@import url("../twentyeleven/style.css");

/*
Theme Name: Pybox 2011 Child Theme
Theme URI: none
Author: us
Author URI: none
Template: twentyeleven
Description: With hacks for pybox. 
Version:0.0
*/


p.iehaxx {height: 1px;}

/* old? dd.slide {overflow-y: scroll;} */

#page, .one-column #page {max-width: 1000px; margin: auto;}
#page {box-shadow: 0px 0px 15px #777;}


/* based on http://peterned.home.xs4all.nl/examples/csslayout1.html */

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}
#primary, #content, article, .entry-content,
#page {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}
#main {
    padding: 0px;
    padding-bottom: 100px; /* bottom padding for footer */
}
#colophon {
	position:absolute;
	width:100%;
	bottom: 28px; /* 72px better in chrome. no idea why it works. dave jan 25 2012 */
	height: 79px;
}
#colophon img {
	position: relative;
	top: -6px;
}

#site-generator {
	max-width: 1000px;
	width: 100%;
	bottom: 0;
	position: static;
}

#main {clear: both;} /* this is important for the menu to work */

/* stuff previously present in default 2011 theme but removed with no apparent ill effect*/

footer, header {display: inherit;}
#primary {float: inherit;}
#branding {position: inherit;}
#colophon {clear: inherit;}

caption, th, td {
	font-weight: inherit;
	text-align: inherit;
}

/* dave aug 28 */
img
{z-index: 10; background: white;}
.pywarn img, #colophon img, img.pycheck
{background: none;}


.one-column.singular .entry-meta .edit-link a {
	position: absolute;
	left: -50px; /* changed dave july 29 2011 */
	top: 0px; /* changed dave july 29 2011 */
}

/* Make sure the logo and search form do not collide */
.one-column #branding #searchform {
	right: 80px;
	top: 50px; /* dave nov 9 2011 */
}





/* =Global
----------------------------------------------- */

/* fonts changed dave sept 25 */
body, html, input, textarea
{
	color: #373737;
	font-size: 16px;
	font-weight: 400;  
	line-height: 26px;
}

body, html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* from http://fonts.googleapis.com/css?family=Droid+Sans+Mono */
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/dsm.eot);
  src: local('Droid Sans Mono'), local('DroidSansMono'), 
	url(fonts/dsm.eot) format('embedded-opentype'), 
	url(fonts/dsm.woff) format('woff');
}



textarea, .pyscramble, .pyboxCode, .pyboxInput, pre, code, tt, .mono {
    font-family: Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', Consolas, monospace;
}

body {
	background: #e2e2e2;
}
#page {
	background: #fff;
}

/* Headings */
.entry-content  h1 { /* dave aug 18 2011 */ 
  font-size: 150%;
  margin-bottom: 20px;
  padding: 3px 3px 3px 0px;
  font-weight: bold;
}
.entry-content  h2 { /* dave aug 18 2011 */ 
  font-size: 125%;
  font-weight: bold;
}

code {
	background: rgba(240, 240, 240, 0.5);
	font-weight: 400;
}

pre {
	background: #f4f4f4;
	line-height: 1.5;
        font-size: inherit;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd {
    font-size: inherit;
}

/* Forms */
input[type=text],
input[type=password],
textarea {
    color: inherit;
}
input[type=text] {
	padding: inherit;
}


/* =Header
----------------------------------------------- */

#branding {
    border-top: none;
/*	border-top: 2px solid #bbb; dave 8/18/2011 */
    z-index: 2;
}
#site-title {
	padding: 8px 0 0; /*// changed dave july 29 2011 to reduce space above title, again nov 9*/
}


#site-description {
	margin: 0 270px 0px 0; /*//changed dave july 29 2011 from 3.65em to 20px*/
}


#access a {
	line-height: 2.75em; /* dave aug 1 2011 */
	padding: 0 1em; /* dave aug 1 2011 */
}
#access ul ul {
	top: 2.75em; /* dave aug 1 2011 */
}

/* =Content
----------------------------------------------- */

.entry-title {
	padding-bottom: 10px; /*// changed dave july 29 2011 from .3em;*/
	padding-top: 10px; /*// changed dave july 29 2011 from 15px;*/
}
.entry-summary {
	padding: 5px 0 0; /*// changed dave july 29 2011 from 690px*/
}

.entry-content h2,
.comment-content h2,
.entry-content h3,
.comment-content h3 {
	color: inherit;
	font-weight: inherit;
	margin: inherit;
	font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        text-transform: none;
}

.entry-content h2,
.comment-content h2 {
    font-size: 125%;
    font-weight: bold;
    color: black;
}

.entry-content h3,
.comment-content h3 {
    font-weight: bold;
    color: black;
}

.entry-content table,
.comment-content table {
	border: 1px solid #ddd;
	margin: 0px;
	width: 100%; 
}
.entry-content th,
.comment-content th {
	font-weight: bold;
	color: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	text-transform: inherit;
}
.entry-content td,
.comment-content td {
	border-top: inherit; /*dave jan 20 2012 */
	padding: 5px;
}



/* Singular content styles for Posts and Pages */
.singular.page .hentry {
	padding: 0 0 0; /* changed dave july 29 2011 from 3.5em */
}
.singular .entry-title {
	font-size: 30px; /* changed dave july 29 2011 from 36px */
}

#site-generator {
	padding: 2.2em 0em; /* dave aug 26 */
}


.entry-content {padding: 5px 0 0;}

#wpadminbar .menupop .menupop > .ab-item, 
#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item,
#wpadminbar #adminbarsearch .adminbar-input,
#wp-admin-bar-wp-logo > .ab-item .ab-icon,
#wp-admin-bar-updates > .ab-item .ab-icon,
#wp-admin-bar-comments > .ab-item .ab-icon,
#wpadminbar #wp-admin-bar-new-content > .ab-item .ab-icon
{
        background-image: url(images/admin-bar-sprite-green.png) !important;
}

/* want this not just on "404" pages */

#main #searchform {
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-width: 1px 0;
        margin: 0 -8.9%;
        overflow: hidden;
        padding: 1.625em 8.9%;
}


.testing-warning
{
font-style: italic;
color: blue; 
}

#wp-admin-bar-updates .screen-reader-text {
    display: none;
}

.wp-core-ui .button {
 font-size: 16px;
 font-weight: bold;
}

#wpadminbar .ab-top-menu > li:hover > .ab-item {
background: none !important;
color: darkGreen !important;
background-image: inherit !important;
}
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
color: green !important;
background: white !important;
background-image: inherit !important;
}

#wpadminbar a.ab-item:hover,
#wpadminbar #wp-admin-bar-site-name a.ab-item:hover
{
background: none !important;
}

.screen-reader-shortcut {
  display: none;
}

#content ul, #content ol {
    margin-bottom: 0.3em; /* not 1.625 */
}
#content th, #content #td {
    text-align: inherit;
}
a:not(.open-same-window):hover  {
    color: darkblue;
    background: #e0e0ff;
    text-decoration: none;
}

#content p { margin-top: 8px; margin-bottom: 8px; }
#content pre { margin: 1px 1px 1px 1px; padding: 10px 10px 10px 20px; }
#content ul { margin-bottom: 0px; }
#content hr { margin-top: 8px; margin-bottom: 8px; }

#content .entry-content h1, #content .entry-content h2 {
    margin: 20px 0px 0px 0px;
}
#content .entry-content h3, #content .entry-content h4, #content .entry-content h5, #content .entry-content h6 {
    margin: 12px 0px 0px 0px;
}

#wpadminbar .ab-top-secondary {	background: none !important;}

#wpadminbar * { text-shadow: none !important;}

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {min-width: inherit !important;}

#wpadminbar.ie8 #adminbarsearch .adminbar-input{background-color: lightGreen !important;}

#wpadminbar #wp-admin-bar-totop img.icon {cursor: pointer}

#wpadminbar img.icon {
	background: none;
	vertical-align: -2px;
}
#wpadminbar #wp-admin-bar-mail img.icon {
	vertical-align: -4px;
}

#wpadminbar * {
	border-left: none !important;
	border-right: none !important;
}

#menu-item-122, #menu-item-4734, #menu-item-6758 { /* lesson 0 */
    clear: left;
}
#menu-item-3391, #menu-item-4733, #menu-item-6796 { /* My Progress */
    float: right !important;
    font-weight: bold;
}

/* kill default grey colours  */
#wpadminbar, #wpadminbar * {
    color: darkGreen; 
} 

#wpadminbar {
    background-image: url(images/banner.png) !important;
    background-color: paleGreen !important;;
    border-bottom: 1px solid black !important;;
    box-shadow: 0px 3px 15px -3px #777 !important;; 
}

#wpadminbar li.new-or-login * {
    font-weight: bold;
    color: blue; /* highlight 'new account or log in' */
    font-size: 110%;
    line-height: 26px;
    text-align: center;
}

.content #wp-admin-bar-site-name .ab-item { text-shadow: 2px 2px 0px paleGreen, -2px -2px 0px paleGreen; }

#wp-admin-bar-my-account div.ab-sub-wrapper {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

div.ab-sub-wrapper {
    margin-right: 0px !important; /* why does wordpress put -1 here? maybe related to border. */
}

/* .content matches normal page views and search results, but not the admin menu/dashboard. */
/* .profile-php is the reverse */

/* necessary for top bar to grow and stretch with rest of page */
@media all and (min-width:1000px) { .content #wpadminbar {
    max-width: 1000px;
    margin-left: -500px;
    left: 50% !important;
}}

/* collection of lines modified from admin-bar.css so height is 52px instead of original (26?) */

/* "Computer Science Circles" */
.content #wp-admin-bar-site-name .ab-item
{font: bold 30px/52px sans-serif; margin-left: 10px;}

/* throughout */
.content #wpadminbar *
{line-height: 52px; color:darkgreen;}

/* the bar itself */
.content #wpadminbar {line-height: 52px; height:52px;}

.content #wpadminbar .quicklinks a,#wpadminbar .quicklinks .ab-empty-item,#wpadminbar .shortlink-input{height:52px;padding:0 12px;margin:0;}

.content #wpadminbar.ie7 .menupop .ab-sub-wrapper,#wpadminbar.ie7 .shortlink-input{top:52px;left:0px;}

.content #wpadminbar #adminbarsearch{height:52px;padding:0px 2px;}

.content #wpadminbar #wp-admin-bar-user-info{margin-top:-6px;margin-bottom:25px;height:auto;background:none;}
/* end of lines to adjust admin bar height */

/*************** bumper: thing at the top to ensure cscircles banner covers nothing ***********8*/
div#bumper {
    background-color: paleGreen;
    background-image: url(images/banner.png) !important;
    height: 52px;
    width: 100%; 
    color: #9F9;
    text-align: right;
}

div#bumper span {opacity: 0.1}

/******************* the picture of the fractal or computer ************/
.toppictureholder {
    height: 150px;
    background-color: darkblue;
/*    position: absolute;*/
    top: 0px;
    left: 0px;
}

header {
   margin: 0px;
   border: none !important;
   position: relative;
   top : 0px;
}

header > a {
   position: relative;
   top: 0px;
}

header > a > div.toppictureholder {
   position: relative;
}

/*********************************** bottom, CEMC logo ************************/
#site-generator {
    box-shadow: 0px 35px 15px #777;
}

#colophon .cemc.logo {
    float: left; 
    margin-left: 25px;
    background-image: url(images/cemc_logo.gif);
    width: 73px;
    height: 64px;
    margin-top: 5px;
}



