<Files *>
Order Deny,Allow
Deny from All
</Files>

# allow images, icons, pdfs
<FilesMatch "\.(jpe?g|gif|png|ico|pdf)$">
Allow from All
</FilesMatch>

# these should always be accessible
<FilesMatch "\.(js|css|html?)$">
Allow from All
</FilesMatch>

# only public for convenience so translators can easily get latest version
<FilesMatch "\.(po|pot)">
Allow from All
</FilesMatch>

# only these php files should be directly accessed by the user
<FilesMatch "^(action-|db-|page-).*\.php$">
Allow from All
</FilesMatch>

